<div class="container" style="margin: 3% auto">
    <div class="jumbotron">
        <!-- <h1 class="display-3">Welcome in Quizzy</h1> -->
        <p class="lead wrap">{{currentQuestion?.question}}</p>
        <hr class="my-4">

        <div class="row">
            <div class="col">
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Answer 1</div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">{{currentQuestion}}</p>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Answer 2</div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">{{currentQuestion}}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Answer 3</div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">{{currentQuestion}}</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Answer 4</div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">{{currentQuestion}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- <div class="row" *ngFor="let item of questions">
        <li>{{item.question}}</li>
    </div>
</div> -->