<div class="container" style="margin: 3% auto">
    <div class="jumbotron" *ngIf="!endQuiz" style="padding: 1rem 4rem 2rem 4rem">
        <div class="mt-0">
            <!-- <progressbar class="progress-striped active mb-2" [value]="progressBarValue" [type]="progressBarType">
                {{progressBarValue}} s </progressbar> -->

            <div class="row text-right">
                <h3 class="display-5">{{currentQuestion?.category}}</h3>
                <p class="font-italic">{{currentQuestion?.difficulty}}</p>
            </div>

            <div class="row text-left">
                <span class="font-italic" style="font-size: 2rem;">Question {{currentQuestionNumber +
                    1}}/{{questions.length}}</span>
            </div>

            <hr class="my-2">
            <p class="lead wrap mb-4">{{currentQuestion?.question}}</p>

            <div class="row">
                <div class="col">
                    <div class="card border-{{answerColorDisplay[0]}} mb-3" style="max-width: 20rem;"
                        (click)="checkAnswer(currentAnswers[0], 0)" onclick="this.disabled=true">
                        <div class="card-header">Answer</div>
                        <div class="card-body">
                            <h4 class="card-title">{{currentAnswers && currentAnswers[0]?.toString()}}</h4>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-{{answerColorDisplay[1]}} mb-3" style="max-width: 20rem;"
                        (click)="checkAnswer(currentAnswers[1], 1)">
                        <div class="card-header">Answer 2</div>
                        <div class="card-body">
                            <h4 class="card-title">{{currentAnswers && currentAnswers[1]?.toString()}}</h4>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-{{answerColorDisplay[2]}} mb-3" style="max-width: 20rem;"
                        (click)="checkAnswer(currentAnswers[2], 2)">
                        <div class="card-header">Answer 3</div>
                        <div class="card-body">
                            <h4 class="card-title">{{currentAnswers && currentAnswers[2]?.toString()}}</h4>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card border-{{answerColorDisplay[3]}} mb-3" style="max-width: 20rem;"
                        (click)="checkAnswer(currentAnswers[3], 3)">
                        <div class="card-header">Answer 4</div>
                        <div class="card-body">
                            <h4 class="card-title">{{currentAnswers && currentAnswers[3]?.toString()}}</h4>
                        </div>
                    </div>
                </div>
            </div>

            <progressbar class="progress-striped active mt-5" [value]="progressBarValue" [type]="progressBarType">
                {{progressBarValue}} s </progressbar>
        </div>
    </div>

    <div class="jumbotron" style="padding: 2rem 2rem;" *ngIf="endQuiz">
        <h1 class="display-5">Result</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Difficulty</th>
                    <th scope="col">Ammount</th>
                    <th scope="col">Total score</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{quizResult.category}}</td>
                    <td>{{quizResult.difficulty}}</td>
                    <td>{{quizResult.ammount}}</td>
                    <td>{{quizResult.totalScore}}</td>
                </tr>
            </tbody>
        </table>

        <hr class="my-4">
        <h1 class="display-5">Details</h1>

        <table class="table table-striped" style="table-layout: fixed; width: 100%;">
            <tbody>
                <tr>
                    <th>User answers</th>
                    <td *ngFor="let userAnswer of quizResult.userAnswers">
                <tr>{{userAnswer}}</tr>
                </td>
                </tr>

                <tr>
                    <th>Correct answers</th>
                    <td *ngFor="let correctAnswer of quizResult.correctAnswers">
                <tr>{{correctAnswer}}</tr>
                </td>
                </tr>

                <tr>
                    <th>Points</th>
                    <td *ngFor="let point of quizResult.points">
                <tr>{{point}}</tr>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>