<footer class="navbar-expand-lg navbar-dark bg-primary text-center text-lg"
    style="position: fixed; bottom: 0; width: 100%;">
    <!-- Copyright -->
    <div class="text-center text-light p-3 elegant-color-dark">
        <span class="mr-1" style="font-size: medium;">© 2021 Copyright: Grzegorz Waluś</span>

        <div>
            <span class="d-inline-block">
                <i class="fab fa-github mr-1"></i>
            </span>
            <span class="d-inline-block">
                <a class="text-light" href="https://github.com/gwalus/Quizzy_v2" target="_blank"> Github</a>
            </span>

        </div>

        <hr class="my-2">
        <i class="mr-2">powered by:</i>
        <a href="https://opentdb.com" target="_blank"><img src="https://opentdb.com/images/logo.png" alt="trivia db"
                style="height: 35px; width: auto;"></a>
    </div>
    <!-- Copyright -->
</footer>