<div class="container" style="margin: 3% auto">
    <div class="jumbotron">
        <h1 class="display-3">Welcome in Quizzy</h1>
        <p class="lead">This application checks knowledge from different categories.</p>

        <div class="category-inline">
            <button class="flex-item btn btn-outline-{{getRandomBtnColor(category.id)}}" style="border: 2px solid;"
                *ngFor="let category of categories" (click)="chooseCategory(category.id)">{{category.name}}</button>
        </div>

        <hr class="my-4">

        <div class="col-sm-8">
            <p class="d-inline-block">If you want to test your knowledge, click let's play.</p>
            <button type="button" class="btn btn-secondary btn-md ml-2 p-1" (click)="openModalWithGameOptions()">Let's
                play!</button>
        </div>
    </div>


</div>