<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="">Quizzy</a>

    <ul class="navbar-nav ml-auto">
        <form *ngIf="(authService.currentUser$ | async) === null" #loginForm="ngForm" class="form-inline mt-2 mt-md-0"
            (ngSubmit)="login()" autocomplete="off">
            <input name="username" [(ngModel)]="model.email" class="form-control mr-sm-2" type="text"
                placeholder="Login">
            <input name="password" [(ngModel)]="model.password" class="form-control mr-sm-2" type="password"
                placeholder="Password">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
        </form>

        <ng-container *ngIf="authService.currentUser$ | async">
            <li class="nav-item" *appHasRole='["Admin", "Moderator"]'>
                <a class="nav-link " routerLink="/admin">
                    <button class="fas fa-users-cog"></button> Admin panel
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <mdb-icon fas icon="users"></mdb-icon> Leaderboards
                </a>
            </li>
        </ng-container>

        <!-- Dropdown -->
        <li class="nav-item dropdown" dropdown *ngIf="(authService.currentUser$ | async) !== null">
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span>
            </a>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                <ng-container>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()">Log out</a>
                </ng-container>
            </div>
        </li>

    </ul>
</nav>