<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <li>{{category}}</li>

    <!-- <form>
        <select name="" id="">
            <option value="easy"></option>
            <option value="medium"></option>
            <option value="hard"></option>
        </select>
    </form> -->
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-md">Play !</button>
</div>